*{
  padding: 0;
  margin: 0;
}

html, body, .App{
  width: 100%;
  overflow-x: hidden;
}

.hero-section{
  position: relative;
}
.hero-description{
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
}

.big-word{
  font-family: Big Shoulders Display;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 55px;
  letter-spacing: 0px;
  text-align: left;  

}

.small-word{
  font-family: Outfit;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hero-description .small-word >span{
  padding: 1rem 0;
}

@media only screen and (min-width: 376px){
  .hero-section{
    width: 375px;
    margin: auto;
    padding-left: 0; padding-right: 0;
    
  }

}

@media only screen and (min-width: 700px){
  .hero-section{
    margin: 0;
    width: 100%;
  }
  .hero-description{
    position: absolute;
    left: 40%;
    width: 350px;
    top: 20%;
  }
  .hero-description .small-word>span{
    padding: 2rem 0;
  }
}

#location-btn{
  height: 72px;
  width: 260px;
  display: flex;
}
#location-btn button{
  width: 204px;
  background: black;
  border: none;
  font-family: Big Shoulders Display;
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.6363637447357178px;
  text-align: center;
  color: white; 

}
#location-btn span{
  width: 56px;
  height: 100%;
  background: #D5966C;
  display: grid;
  align-items: center;
}
#location-btn span img{
  margin: auto;
}

 
.mid-section{
  padding: 4rem 0 5rem;
  margin: auto;
  width: 343px;
}
.mid-section .top{
  display: flex;
  flex-direction: column-reverse;

}

.mid-section .intro p{
  padding: 1rem 0;

}

.mid-section .bottom{
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 700px){
  .mid-section{
    width: 690px;
    margin: 0 auto;
    padding-right: 0; padding-left: 0;
  }

  .mid-section .top{
    flex-direction: row;
    justify-content: space-between;
  }
  .mid-section .top .intro{
    width: 300px;
    padding-right: 1rem;
  }
}

.bottom picture{
  padding: 1rem 0;
}

@media only screen and (min-width: 700px){
  .bottom{
    position: relative;
  }
  .bottom picture{
    padding: 0;
  
  }

  .bottom >picture{
    height: 720px;
  }
  .bottom-half{
    display: flex;
    flex-direction: column;
  }

  .bottom-half{
    width: 280px;
    position: absolute;
    right: 0;
    height: 100%;
  }
}
.inspire{
  background: #151515;
  color: white;
  text-align: left;
  flex-grow: 1;
}
.inspire p{
  padding-left: 1rem; padding-right: 1rem;
}
@media only screen and (min-width: 700px){
  .mid-section .bottom{
    flex-direction: row;
  }

}

.footer{
  background: #151515;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}
.footer .big-word{
  font-size: 20px;
  width: 110px;
  line-height: 1;
}
.footer .small-word{
  font-size: 16px;
  line-height: 26px;
}
@media only screen and (min-width: 700px){
  .footer{
    flex-direction: row;
    justify-content: space-around;
  }

  .footer .small-word{
    width: 500px;
  }
}
.footer p, .footer ul{
  padding: 1rem 1rem;
}
.footer ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100px;
}
.footer ul li{

  cursor: pointer;
}
.footer ul li:hover{
  background-color: orange;
}
.footer img{
  color: orange;
}