*{
  padding: 0;
  margin: 0;
}

html, body, .App{
  width: 100%;
  overflow-x: hidden;
}

.hero-section{
  position: relative;
}
.hero-description{
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
}

.black-wall{
  display: none;
  width: 500px;
  height: 800px;
  background: #151515;
}

.big-word{
  font-family: Big Shoulders Display;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 55px;
  letter-spacing: 0px;
  text-align: left;  

}

.small-word{
  font-family: Outfit;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hero-description .small-word >span{
  padding: 1rem 0;
}


#location-btn span img{
  margin: auto;
}
@media only screen and (min-width: 376px){
  .hero-section{
    width: 375px;
    margin: auto;
    padding-left: 0; padding-right: 0;
  }

}
@media only screen and (min-width: 700px){
  .hero-section{
    margin: 0;
    width: 100%;
  }
  .hero-description{
    position: absolute;
    left: 40%;
    width: 350px;
    top: 20%;
  }
  .hero-description .small-word>span{
    padding: 2rem 0;
  }
}
@media only screen and (min-width: 1150px){
  .hero-section{
    display: flex;
    justify-content: flex-start;

  }
  
  .hero-description{
    flex-direction: row;
    justify-content: space-between;
    width: min(60%, 1100px);
    left: 30%;
  }
  .hero-description .big-word{
    width: 300px;
  }
  .hero-description .small-word{
    width: 350px;
  }

  .black-wall{
    display: inline-block;
    flex-grow: 0.4;
  }
}
 
.mid-section{
  padding: 4rem 0 5rem;
  margin: auto;
  width: 343px;
}
.mid-section .top{
  display: flex;
  flex-direction: column-reverse;

}

.mid-section .intro p{
  padding: 1rem 0;

}

.mid-section .bottom{
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 700px){
  .mid-section{
    width: 690px;
    margin: 0 auto;
    padding-right: 0; padding-left: 0;
  }

  .mid-section .top{
    flex-direction: row;
    justify-content: space-between;
  }
  .mid-section .top .intro{
    width: 300px;
    padding-right: 1rem;
  }
}
@media only screen and (min-width: 1150px){
  .mid-section{
    width: 1110px;
  }
  .mid-section .bottom .bottom-half{
    width: 445px;
  }
}


.bottom picture{
  padding: 1rem 0;
}

@media only screen and (min-width: 700px){
  .bottom{
    position: relative;
  }
  .bottom picture{
    padding: 0;
  
  }

  .bottom >picture{
    height: 720px;
  }
  .bottom-half{
    display: flex;
    flex-direction: column;
  }

  .bottom-half{
    width: 280px;
    position: absolute;
    right: 0;
    height: 100%;
  }
}
.inspire{
  background: #151515;
  color: white;
  text-align: left;
  flex-grow: 1;
}
.inspire p{
  padding-left: 1rem; padding-right: 1rem;
}
@media only screen and (min-width: 700px){
  .mid-section .bottom{
    flex-direction: row;
  }

}

.footer{
  background: #151515;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}
.footer .big-word{
  font-size: 20px;
  width: 110px;
  line-height: 1;
}
.footer .small-word{
  font-size: 16px;
  line-height: 26px;
}
.footer p, .footer ul{
  padding: 1rem;
}
.footer ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100px;
}
.footer ul li{

  cursor: pointer;
}
.footer ul li:hover{
  background-color: orange;
}
.footer img{
  color: orange;
}
@media only screen and (min-width: 800px){
  .footer{
    flex-direction: row;
    justify-content: space-between;
    width: 690px;
    padding: 56px calc(calc(100% - 690px)/2);
    margin: auto;

  }

  .footer .small-word{
    width: 500px;
  }

  .footer ul{
    padding-right: 0;
  }
}
@media only screen and (min-width: 1150px){
  .footer{
    width: 1110px;
    padding: 56px calc(calc(100% - 1110px)/2);
    
  }
  .footer .small-word{
    font-size: 18px;
    padding-left: 0; padding-right: 0;
  }
  .footer .big-word{
    font-size: 26px;
    padding-left: 0; padding-right: 0;
  }
}

#showGrid{
  position: relative;
  background: #151515;
  width: 100%;
}
#showGrid picture{
  width: 375px;
  margin: auto;
}
@media only screen and (min-width: 768px){
  #showGrid picture{
    width: 768px;
  }
}
@media only screen and (min-width: 1440px){
  #showGrid picture{
    width: 1440px;
  }
}
.location{
  background: #151515;
  color: white;
  padding: 0 1rem;
  height: 493px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.location #big-loc{
  font-size: 50px;
  font-family: 'Big Shoulders Display';
}
.location #street{
  font-size: 32px;
  font-family: 'Big Shoulders Display';
  color: #D5966C;
}

.location .loc-description{
  display: flex;
  flex-direction: column;
  height: 296px;
  justify-content: space-between;
  font-family: 'Outfit';
  font-size: 18px;
}

@media only screen and (min-width: 700px){
  .location{
    flex-direction: row;
    height: 375px;
    padding: 88px calc(calc(100% - 690px)/2) 80px;
    width: 690px;
    justify-content: space-between;
  }
  .location #big-loc{
    width: 223px;
  }
  .location .loc-description{
    width: 400px;
  }
}
@media only screen and (min-width: 1150px){
  .location{
    width: 1110px;
    padding: 88px calc(calc(100% - 1110px)/2) 80px;
  }
  .location #big-loc{
    width: 350px;
    font-size: 70px;
  }
  .location #steet{
    font-size: 36px;
  }
  .location .loc-description{
    font-size: 22px;
    width: 540px;
  }
}


.btn{
  width: 264px;
  height: 72px;
  display: block;
  position: absolute;
  color: white;
  background: #151515;
  display: flex;
  align-items: center;
  padding: 0;
  font-family: Outfit;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}
.btn button{
  height: 100%;
  background: #D5966C;
  border: none;
  width: 56px;
}
.btn span{
  margin: auto;
}

#forward-btn{
  position:relative;
}